.App {
  position: relative;
}

.App-header {
  background-color: #eee;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logo {
  height: 50px;
}

input:focus {
  outline-color: #97ce4c;
}
